In [112]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import streamlit as st
import dtale 
import plotly.express as px

## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [113]:
#Read in the csv file and convert to a Pandas dataframe
jops = pd.read_csv("Data/Jadarat_data.csv")

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [114]:
jops.shape

(1470, 18)

In [115]:
jops.head(5)

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,job_post_id,exper,gender
0,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,شركة مقر العالم للسفريات,1-317262,خاص,متوسطة فئة أ,أنشطة وكالات السياحة والسفر,"['Language data', 'اللغة الانجليزية', 'محترف']",الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350419,0 Years,both
1,بائع,27/05/1444,['بيع مجموعة من السلع والخدمات للعملاء، وتوفير...,"[' بيع مجموعة من السلع والخدمات للعملاء.', '...",شركة عالم الكهرباء للمقاولات,4-1324428,خاص,متوسطة فئة ب,تركيب انظمة التبريد وتكييف الهواء وصيانتها واص...,NaN,المنطقة الشرقية,AD DAMMAM...,"['Salary', '5000.0']",دوام كامل,0 / 3,20202026350389,0 Years,both
2,أخصائي عمليات موارد بشرية,27/05/1444,['تنفيذ الإجراءات والأنظمة والنماذج الخاصة بمر...,[' تنفيذ الإجراءات والأنظمة والنماذج الخاصة ...,شركه دار السلام,1-155294,خاص,متوسطة فئة أ,ترميمات المباني السكنية والغير سكنية,"['Language data', 'الانجليزيه', 'محترف']",الرياض,ATH THUMA...,"['Salary', '4000.0']",دوام كامل,0 / 2,20202026350347,2 Years,both
3,ميكانيكي سيارات,27/05/1444,['تشخيص أعطال السيارات وإصلاحها وتنفيذ برامج ا...,[' فحص أداء المعدّات الكهربائية والميكانيكية...,مؤسسة لمكو لغيار الزيوت,8-1925495,خاص,صغيرة فئة ب,NaN,"['Skill data', 'صيانة السيارات وتقييم الاعطال'...",المنطقة الشرقية,AL HUFUF...,"['Salary', '5000.0']",دوام كامل,0 / 10,20202026350219,0 Years,M
4,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,مؤسسة فكرة اليمامة للمقاولات,1-2356639,خاص,كبيرة,الإنشاءات العامة للمباني السكنية,"['Skill data', 'تحمل ضغط العمل', 'محترف', 'Lan...",الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350043,0 Years,both

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

In [11]:
jops.head(2)

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,qualif,region,city,benefits,contract,positions,job_post_id,exper,gender
0,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,شركة مقر العالم للسفريات,1-317262,خاص,متوسطة فئة أ,أنشطة وكالات السياحة والسفر,"['Language data', 'اللغة الانجليزية', 'محترف']",الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350419,0 Years,both
1,بائع,27/05/1444,['بيع مجموعة من السلع والخدمات للعملاء، وتوفير...,"[' بيع مجموعة من السلع والخدمات للعملاء.', '...",شركة عالم الكهرباء للمقاولات,4-1324428,خاص,متوسطة فئة ب,تركيب انظمة التبريد وتكييف الهواء وصيانتها واص...,NaN,المنطقة الشرقية,AD DAMMAM...,"['Salary', '5000.0']",دوام كامل,0 / 3,20202026350389,0 Years,both

In [116]:
jops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     1470 non-null   object
 1   job_date      1470 non-null   object
 2   job_desc      1470 non-null   object
 3   job_tasks     1470 non-null   object
 4   comp_name     1470 non-null   object
 5   comp_no       1470 non-null   object
 6   comp_type     1470 non-null   object
 7   comp_size     1456 non-null   object
 8   eco_activity  1380 non-null   object
 9   qualif        780 non-null    object
 10  region        1470 non-null   object
 11  city          1470 non-null   object
 12  benefits      1470 non-null   object
 13  contract      1470 non-null   object
 14  positions     1470 non-null   object
 15  job_post_id   1470 non-null   int64
 16  exper         1470 non-null   object
 17  gender        1470 non-null   object
dtypes: int64(1), object(17)
memory usage: 206.8+ KB

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

In [117]:
jops = jops.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [118]:
jops = jops.drop(columns=['qualif'], errors='ignore')

In [119]:
jops.head(2)

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,region,city,benefits,contract,positions,job_post_id,exper,gender
0,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,شركة مقر العالم للسفريات,1-317262,خاص,متوسطة فئة أ,أنشطة وكالات السياحة والسفر,الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350419,0 Years,both
1,بائع,27/05/1444,['بيع مجموعة من السلع والخدمات للعملاء، وتوفير...,"[' بيع مجموعة من السلع والخدمات للعملاء.', '...",شركة عالم الكهرباء للمقاولات,4-1324428,خاص,متوسطة فئة ب,تركيب انظمة التبريد وتكييف الهواء وصيانتها واص...,المنطقة الشرقية,AD DAMMAM...,"['Salary', '5000.0']",دوام كامل,0 / 3,20202026350389,0 Years,both

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

In [120]:
jops[jops.duplicated(keep = False)]

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,region,city,benefits,contract,positions,job_post_id,exper,gender
1467,صيدلي,18/06/1444,['دراسة التركيبات الدوائية للعقاقير والعلاجات ...,[' دراسة مواصفات وتركيبات الادوية والعقاقير ...,شركة تقنية الدواجن والألبان للتجارة,1-2415250,خاص,صغيرة فئة ب,NaN,الرياض,AR RIYADH...,"['Salary', '7000.0']",دوام كامل,0 / 1,20202026399061,0 Years,both
1469,صيدلي,18/06/1444,['دراسة التركيبات الدوائية للعقاقير والعلاجات ...,[' دراسة مواصفات وتركيبات الادوية والعقاقير ...,شركة تقنية الدواجن والألبان للتجارة,1-2415250,خاص,صغيرة فئة ب,NaN,الرياض,AR RIYADH...,"['Salary', '7000.0']",دوام كامل,0 / 1,20202026399061,0 Years,both

In [121]:
jops = jops.drop_duplicates().reset_index(drop=True)

In [122]:
jops[jops.duplicated(keep = False)]

Empty DataFrame
Columns: [job_title, job_date, job_desc, job_tasks, comp_name, comp_no, comp_type, comp_size, eco_activity, region, city, benefits, contract, positions, job_post_id, exper, gender]
Index: []

In [123]:
duplicated_jobs = jops[jops['job_post_id'].duplicated(keep=False)]

In [124]:
jops[jops['job_post_id'].duplicated(keep=False)].groupby('job_post_id').size().reset_index(name='count')

       job_post_id  count
0   20202026271430      2
1   20202026274543      2
2   20202026275555      2
3   20202026276207      2
4   20202026310433      2
5   20202026310544      2
6   20202026310906      2
7   20202026334277      2
8   20202026346650      2
9   20202026346669      2
10  20202026346708      2
11  20202026346794      2
12  20202026346827      2
13  20202026346879      2
14  20202026346891      2
15  20202026347650      2
16  20202026351412      2
17  20202026351483      2
18  20202026357229      2
19  20202026368859      2
20  20202026368869      2
21  20202026372013      2
22  20202026373225      2
23  20202026373486      2
24  20202026373677      2
25  20202026373876      2
26  20202026373948      2
27  20202026373950      2
28  20202026374077      2
29  20202026374445      2
30  20202026374877      2
31  20202026374934      2
32  20202026374956      2
33  20202026375235      2
34  20202026375465      3
35  20202026375503      3
36  20202026375557      2
37  20202026375917      2
38  20202026375932      2
39  20202026375963      2
40  20202026375968      2
41  20202026375986      2
42  20202026376035      2
43  20202026376399      2
44  20202026376484      2
45  20202026376581      2
46  20202026376631      2
47  20202026376639      2
48  20202026376645      2
49  20202026376668      2
50  20202026376685      2
51  20202026376865      2
52  20202026376997      2
53  20202026377206      2
54  20202026377493      2
55  20202026377559      2
56  20202026377612      2
57  20202026377722      2
58  20202026377730      2
59  20202026377746      2
60  20202026378208      2
61  20202026378327      2
62  20202026378972      2
63  20202026378973      3
64  20202026378982      2
65  20202026379628      2
66  20202026389861      2
67  20202026390502      2
68  20202026390576      2
69  20202026391036      2
70  20202026391405      2
71  20202026391426      2
72  20202026391450      2
73  20202026391452      2
74  20202026391456      2
75  20202026391499      2
76  20202026391554      2
77  20202026391571      2
78  20202026394624      2
79  20202026395117      2
80  20202026396963      3
81  20202026399061      2
82  20202026402465      2
83  20202026402637      2

In [125]:
jops[(jops['job_post_id'] == 	20202026274543)]

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,region,city,benefits,contract,positions,job_post_id,exper,gender
152,سائق سيارة,23/04/1444,['تولي مهمة قيادة السيارة بغرض القيام بالأعمال...,"['نقل الحالات إلى كافة المواعيد مستشفى , نيابة...",جمعية حماية الاسرة الخيرية,9-191343,خاص,صغيرة فئة ب,مؤسسات الرفاه الاجتماعي (تحديد وتوزيع المساعدا...,الرياض,AR RIYADH...,"['Salary', '4500.0']",دوام كامل,0 / 1,20202026274543,2 Years,both
281,سائق سيارة,23/04/1444,['تولي مهمة قيادة السيارة بغرض القيام بالأعمال...,"['نقل الحالات إلى كافة المواعيد مستشفى , نيابة...",جمعية حماية الاسرة الخيرية,9-191343,خاص,صغيرة فئة ب,NaN,الرياض,AR RIYADH...,"['Salary', '4500.0']",دوام كامل,0 / 1,20202026274543,2 Years,both

In [126]:
jops[(jops['job_post_id'] == 	20202026396963)]

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,region,city,benefits,contract,positions,job_post_id,exper,gender
1207,كاتب علاقات حكومية,16/06/1444,['توفير المعلومات اللازمة للتخليص على المعاملا...,[' جمع البيانات والمعلومات عن الوثائق والمس...,مجموعة اجير المتحدة للتشغيل والصيانة,1-2328664,خاص,صغيرة فئة أ,مؤسسات ووكالات الدعاية والاعلان,الرياض,AR RIYADH...,"['Salary', '4000.0']",دوام كامل,0 / 1,20202026396963,0 Years,F
1258,كاتب علاقات حكومية,16/06/1444,['توفير المعلومات اللازمة للتخليص على المعاملا...,[' جمع البيانات والمعلومات عن الوثائق والمس...,مجموعة اجير المتحدة للتشغيل والصيانة,1-2328664,خاص,صغيرة فئة أ,مؤسسات ووكالات الدعاية والاعلان,الرياض,AR RIYADH...,"['Salary', '4000.0']",دوام كامل,1 / 1,20202026396963,0 Years,F
1370,كاتب علاقات حكومية,16/06/1444,['توفير المعلومات اللازمة للتخليص على المعاملا...,[' جمع البيانات والمعلومات عن الوثائق والمس...,مجموعة اجير المتحدة للتشغيل والصيانة,1-2328664,خاص,صغيرة فئة ب,مؤسسات ووكالات الدعاية والاعلان,الرياض,AR RIYADH...,"['Salary', '4000.0']",دوام كامل,1 / 1,20202026396963,0 Years,F

In [128]:
jops.drop_duplicates(subset=['job_post_id', 'job_title', 'job_date', 'job_desc', 'job_tasks', 'comp_name', 'comp_no', 'comp_type'], keep='first', inplace = True)

In [129]:
jops[['job_post_id', 'job_title', 'job_date', 'comp_name']].duplicated(keep=False).sum()

np.int64(0)

In [66]:
# go to delete duplicates columns

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [130]:
#Display number missing values per column
jops.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1427 entries, 0 to 1468
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     1427 non-null   object
 1   job_date      1427 non-null   object
 2   job_desc      1427 non-null   object
 3   job_tasks     1427 non-null   object
 4   comp_name     1427 non-null   object
 5   comp_no       1427 non-null   object
 6   comp_type     1427 non-null   object
 7   comp_size     1413 non-null   object
 8   eco_activity  1349 non-null   object
 9   region        1427 non-null   object
 10  city          1427 non-null   object
 11  benefits      1427 non-null   object
 12  contract      1427 non-null   object
 13  positions     1427 non-null   object
 14  job_post_id   1427 non-null   int64
 15  exper         1427 non-null   object
 16  gender        1427 non-null   object
dtypes: int64(1), object(16)
memory usage: 200.7+ KB

In [131]:
jops['comp_size'].isnull().sum()

np.int64(14)

In [132]:
jops['comp_size'] = jops['comp_size'].fillna('Unknown Size')

In [133]:
jops['comp_size'].isnull().sum()

np.int64(0)

In [44]:
jops['eco_activity'].isnull().sum()

np.int64(78)

In [134]:
jops['eco_activity'] = jops['eco_activity'].fillna('Unknown Domain')

In [135]:
jops['eco_activity'].isnull().sum()

np.int64(0)

In [137]:
jops.head(1)

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,region,city,benefits,contract,positions,job_post_id,exper,gender
0,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,شركة مقر العالم للسفريات,1-317262,خاص,متوسطة فئة أ,أنشطة وكالات السياحة والسفر,الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350419,0 Years,both

In [68]:
# go to clean them

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [138]:
# check columns types 
jops.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1427 entries, 0 to 1468
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_title     1427 non-null   object
 1   job_date      1427 non-null   object
 2   job_desc      1427 non-null   object
 3   job_tasks     1427 non-null   object
 4   comp_name     1427 non-null   object
 5   comp_no       1427 non-null   object
 6   comp_type     1427 non-null   object
 7   comp_size     1427 non-null   object
 8   eco_activity  1427 non-null   object
 9   region        1427 non-null   object
 10  city          1427 non-null   object
 11  benefits      1427 non-null   object
 12  contract      1427 non-null   object
 13  positions     1427 non-null   object
 14  job_post_id   1427 non-null   int64
 15  exper         1427 non-null   object
 16  gender        1427 non-null   object
dtypes: int64(1), object(16)
memory usage: 200.7+ KB

In [139]:

jops['benefits'].value_counts(dropna=False).head()

benefits
['Salary', '4000.0']    435
['Salary', '5000.0']    144
['Salary', '6000.0']     82
['Salary', '4500.0']     81
['Salary', '7000.0']     63
Name: count, dtype: int64

In [140]:
def salry_def(x):
    return float(x[12:18])

In [141]:
jops['Salary'] = jops['benefits'].apply(salry_def)

In [142]:
jops.head(1)

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,region,city,benefits,contract,positions,job_post_id,exper,gender,Salary
0,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,شركة مقر العالم للسفريات,1-317262,خاص,متوسطة فئة أ,أنشطة وكالات السياحة والسفر,الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350419,0 Years,both,"5,000.00"

In [143]:
jops[['benefits', 'Salary']].head()

               benefits   Salary
0  ['Salary', '5000.0'] 5,000.00
1  ['Salary', '5000.0'] 5,000.00
2  ['Salary', '4000.0'] 4,000.00
3  ['Salary', '5000.0'] 5,000.00
4  ['Salary', '5000.0'] 5,000.00

In [144]:
# Check for missing values in the 'Salary' column after extraction
missing_salary_count = jops['Salary'].isnull().sum()
print("Number of missing values in 'Salary':", missing_salary_count)

Number of missing values in 'Salary': 0

In [ ]:

#jops['Salary'].describe().T

count    1,427.00
mean     5,305.37
std      2,322.35
min      3,000.00
25%      4,000.00
50%      4,500.00
75%      6,000.00
max     35,000.00
Name: Salary, dtype: float64

(3, 18)

In [145]:
# check outliers 

jops['Salary'].describe().T

count    1,427.00
mean     5,305.37
std      2,322.35
min      3,000.00
25%      4,000.00
50%      4,500.00
75%      6,000.00
max     35,000.00
Name: Salary, dtype: float64

In [146]:
jops[jops['Salary'] >30000.0 ].shape

(3, 18)

In [147]:
jops[jops['Salary'] >30000.0 ]

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,region,city,benefits,contract,positions,job_post_id,exper,gender,Salary
530,مدير عمليات موارد بشرية,06/05/1444,['المشاركة في وضع الأهداف الرئيسية وخطط وبرامج...,[' المشاركة في تطوير الأهداف الرئيسية لإدارة...,شركة انكر اليابان,1-391480,خاص,صغيرة فئة ب,خدمات المكاتب العلمية والفنية للمنتجات عدا الم...,الرياض,AR RIYADH...,"['Salary', '32000.0', 'Benefits', 'حافز سنوي (...",دوام كامل,0 / 1,20202026314815,7 Years,both,"32,000.00"
888,طيار جناح ثابت,Publish date,['تدقيق بيانات الرحلة وخطة الطيران، وتفقد وتجه...,[' دراسة بيانات الرحلة ومخططها والتحقق من ال...,شركة طيران اديل,9-1432020,خاص,كبيرة,النقل الجوي للبضائع المحدد بمواعيد,مكة المكرمة,JEDDAH...,"['Salary', '35000.0']",دوام كامل,0 / 50,20202026377730,10 Years,both,"35,000.00"
1132,طيار جناح ثابت,07/06/1444,['تدقيق بيانات الرحلة وخطة الطيران، وتفقد وتجه...,[' دراسة بيانات الرحلة ومخططها والتحقق من ال...,شركة طيران اديل,9-1432020,خاص,كبيرة,النقل الجوي للبضائع المحدد بمواعيد,مكة المكرمة,JEDDAH...,"['Salary', '35000.0']",دوام كامل,0 / 50,20202026377730,10 Years,both,"35,000.00"

In [149]:
jops.head(1)

,job_title,job_date,job_desc,job_tasks,comp_name,comp_no,comp_type,comp_size,eco_activity,region,city,benefits,contract,positions,job_post_id,exper,gender,Salary
0,محاسب,27/05/1444,['إعداد وتنظيم مستندات الصرف ومتابعة تحصيل الإ...,[' تدقيق المطالبات المالية والتأكد من اكتمال...,شركة مقر العالم للسفريات,1-317262,خاص,متوسطة فئة أ,أنشطة وكالات السياحة والسفر,الرياض,AR RIYADH...,"['Salary', '5000.0']",دوام كامل,0 / 1,20202026350419,0 Years,both,"5,000.00"

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

   total_bill  tip     sex smoker  day    time  size
0       16.99 1.01  Female     No  Sun  Dinner     2

In [150]:
# Calculate IQR
Q1 = jops['Salary'].quantile(0.25)
Q3 = jops['Salary'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = jops[(jops['Salary'] < lower_bound) | (jops['Salary'] > upper_bound)]
print(f"Number of outliers in '{'Salary'}': {len(outliers)}")

Number of outliers in 'Salary': 64

In [154]:
fig = px.histogram(jops, x="Salary" , color_discrete_sequence=["lightblue"])
fig.show()

In [155]:
jops['region'].value_counts()

region
الرياض             599
مكة المكرمة        362
المنطقة الشرقية    214
المدينة المنورة     83
الباحة              46
عسير                40
القصيم              30
حائل                18
تبوك                11
نجران                8
جازان                7
الحدود الشمالية      4
الجوف                4
اخرى                 1
Name: count, dtype: int64

In [ ]:



fig = px.bar(
    jops, 
    x='region',  
    color="region",
    title="التوزيع حسب المنطقة",
    color_discrete_sequence=px.colors.qualitative.Pastel,  )
fig.show()

In [23]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [161]:
df = jops
df.to_csv('cleaned_data.csv', index=False)

In [24]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [25]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [80]:
# go back to 6th dimention --> Completeness

### Correcting errors

-------------------

In [ ]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.